<html>
<!-- a3/public/views/details.html-->

    <body>
        <a href="/">Home</a>
    {{#if result}}
    
        <h2>Here are the boat's details: {{brandname}} </h2>
        
        <li>Boat: {{result.type}}</li>
        <li>Year: {{result.year}}</li>
        <li>Beam: {{result.beam}}</li>
        <li>Length: {{result.length}}</li>
        <li>Price: {{result.price}}</li>
    
        <p>
        <a href="/delete?type={{result.type}}">Delete</a>
        </p>
        
    {{else}}
       
       <h2>Not Found</h2>
        
    {{/if}}
        
    </body>
</html>