<!-- // a5/views/details.html -->

{{#if result}}
    
    <h2>Here are the details for sailboat: {{brandname}} </h2>
        
        <ul>
            <li>Boat: {{result.brandname}}</li>
            <li>Year: {{result.year}}</li>
            <li>Beam: {{result.beam}}</li>
            <li>Length: {{result.size}}</li>
            <li>Price: {{result.price}}</li>
        
         </ul>
         
        <p><a href="/delete?brandname={{result.brandname}}">Delete</a></p>
    
    {{else}}
    <h2>{{brandname}} Hmmm, that sailboat cannot be found</h2>
    
{{/if}}